---
import Layout from "../../layouts/Layout.astro";
import MemberSection from "../../components/MemberSection.astro";
import PageHeader from "../../components/PageHeader.astro";
import { getSortedMembers } from "../../utils/collections";

const members = await getSortedMembers();
---

<Layout title="メンバー | 坂田・森・浅谷・西本研究室" isSubpage>
  <PageHeader title="メンバー" />

  <div class="members-container">
    {members.map((section) => <MemberSection section={section} />)}
  </div>
  <style>
    .members-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  </style>
</Layout>
