---
import Layout from "../../layouts/Layout.astro";
import PublicationItem from "../../components/PublicationItem.astro";
import PageHeader from "../../components/PageHeader.astro";
import Section from "../../components/Section.astro";

import { getPublications } from "../../utils/collections";

const publications = await getPublications();

const preprints = publications.filter((p) => p.category === "preprint");
const journals = publications.filter((p) => p.category === "journal");
const conferences = publications.filter((p) => p.category === "conference");
---

<Layout title="論文リスト | 坂田・森・浅谷・西本研究室" isSubpage>
  <PageHeader title="論文リスト" />

  <Section title="Preprints">
    <div class="pub-list">
      {preprints.map((item) => <PublicationItem pub={item} />)}
    </div>
  </Section>

  <Section title="Journal Papers">
    <div class="pub-list">
      {journals.map((item) => <PublicationItem pub={item} />)}
    </div>
  </Section>

  <Section title="Conference Papers">
    <div class="pub-list">
      {conferences.map((item) => <PublicationItem pub={item} />)}
    </div>
  </Section>
</Layout>
