---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
import Section from "../components/Section.astro";
---

<Layout title="研究環境 | 坂田・森・浅谷・西本研究室">
  <PageHeader title="研究環境" subtitle="Environment" />

  <div class="content-container">
    <Section title="研究環境">
      <p>
        当研究室ではメンバーが研究に最大限集中できるように、研究室の設備や環境整備に力を入れて取り組んでいます。研究室の配属希望者には研究室見学や研究会聴講などを随時受け入れておりますので、お気軽に当研究室スタッフまでご連絡ください。
      </p>
    </Section>

    <Section title="学生居室">
      <p>
        2021年夏に大規模な改装を行い、本郷キャンパス工学部3号館/8号館に学生居室を3部屋設置しました。感染症対策として複数の部屋を自由に使えるようにすることで、安全かつ快適な研究生活を送ることができるように配慮しています。
      </p>
    </Section>

    <Section title="計算機リソース">
      <p>
        当研究室では大量のデータを用いた分析や深層学習を用いたモデルの開発を行うことから、大規模な計算機リソースが不可欠です。
      </p>
      <p>
        当研究室には深層学習モデルの計算に必要なGPUサーバー（RTX3090, GTX
        1080*10）や、大規模なデータの処理に必要な高メモリサーバー（1.5TB）など最先端の計算設備を整えており、不自由なく研究できる環境を用意しています。
      </p>
      <p>
        この他産業技術総合研究所や理化学研究所の大規模サーバも利用できる環境にあるほか、MacbookなどのPCを可能な限り学生に貸与しています。
      </p>
    </Section>

    <Section title="研究会">
      <p>
        当研究室では週に1回研究室全体での研究会を開いており、そこで学生は月に1回程度進捗の報告や方向性の相談を行います。また、全体研究会とは別に3グループに別れたグループミーティングも開催しており、そこではスタッフや博士学生がプログラミングの相談や論文の添削を行うなど、きめ細かい研究サポートを行っています。
      </p>
      <p>
        また、定期的に懇親会や歓送迎会も開いており、研究室OB/OGも含めて和気藹々と交流を深めています。
      </p>
    </Section>
  </div>
</Layout>

<style>
  main {
    max-width: 1200px;
  }
</style>
```
